.checkout-page{
  background-color: #FEFAF1;
  display: flex;

}

.checkout-container {
  padding: 30px 50px;
  width: 75%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;



  .checkout-header {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    
    h2{
      font-size: 32px;
      font-family: 'Ovo', serif;
      font-weight: 300;
    }

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .cart-total-container{
    
    border-top: 1px solid grey;
    display: flex;
    width: 100%;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;

    h3{
      font-size: 28px;
      font-family: 'Ovo', serif;
    }

    .quantity{
      margin-left: 20%;
      font-size: 28px;
      font-family: 'Ovo', serif;
    }


    .total {
      font-size: 28px;
      font-weight: 900;
    }
  }



}

.order-details-container{
  background-color: #fff;
  width: 25%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;

  .order-details-header{
    height: 80px;
    display: flex;
    align-items: flex-end;

     h2{
      font-size: 28px;
      font-family: 'Ovo', serif;
     }
  }

  .sub-total-container{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px;

    .sub-total-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      span{
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .order-total-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 40px;
    
    h3{
      font-size: 28px;
      font-family: 'Ovo', serif;
    }

    span{
      font-size: 36px;
      font-weight: 700;
    }
  }

}
