
h3{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    margin: 10px 15px;

    a:hover, a:active{
        text-decoration: underline;
        text-decoration-color:#F79750;

    }
}

