
h3{
    a{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;

    }
    margin: 10px 15px 0px;
    border-bottom: 1px solid #F79750;
    padding: 5px 0 10px;



    a:hover, a:active{
        color:#F79750;

    }
}

