
.product-card{
    width: 200px;
    height: 330px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-radius:10px;
    margin: 0 25px 25px;
    overflow: hidden;
    background-color: #f4f4f4;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        box-shadow: rgba(247, 151, 80, 0.14) 0px 3px 8px;
    
        &  .product-card__img{
          transform: scale(1.1);
          transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    

      }

    .product-card__img{
        width: 100%;
        height: 150px;
        background-size: cover;
    }

    .product-card__body{
        height: 180px;
        padding: 20px 15px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;


        .product-card__name{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            margin: 0;
            font-size: 18px;
            color: #000;
        }

        .product-card__text{
            margin:  10px 0 5px 0;
            padding: 0;
            font-family: 'Ovo', serif;
        }

        .product-card__details{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .product-card__details--price{
                font-weight: 700;
            }

            .product-card__details--btn{
                color: #F79750;
                font-weight: 500;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    transition-duration: .3s;
                }

            } 
        }
    }
}