.products_container{
    width: 75%;
    min-width: 800px;
    
    padding: 10px 50px;

}

.products-container--container{   
    .product-title-container{
        background-color: #EFEFEF;
        height: 100px;
        border-radius: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        span{

            font-weight: 500;
            font-size: 22px;
            padding: 20px;
        }
    }


    .products-container--products{
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
    }
}
