.products_container{
    width: 75%;
    min-width: 800px;
    
    padding: 10px 50px;

}

.products-container--container{   


    .products-container--products{
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
    }
}
