.quiz-body-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    


    .quiz-header{
        margin: 10px 0 50px;
        .quiz-question{
            font-size: 32px;
            font-weight: 500;
            text-transform: none;
        } 
    }

    .quiz-answers-container{
        display: flex;
        align-items: center;
        .quiz-answer{
            width: 200px;
            height: 250px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: 1px solid #FFF;
            margin: 25px;
            transition: all 0.3s;
            padding:  25px;


            &:hover {
                box-shadow: rgba(247, 151, 80,0.2) 0px 2px 8px 0px;            
                border: 1px solid #F79750;
                cursor: pointer;
                
            }
            &:hover > span{
                color: #F79750;

            }
            span{
                text-transform: capitalize;
                text-align: center;
                color: #000;
                font-size: 18px;
                font-weight: 300;
            }
        }
    }


}
