.footer__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background: #EFEFEF;
    padding: 20px 0;
    .footer__column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 350px;
        .logo{
            margin: -10px auto;
        }

        
        h3{
            margin: 0;
        font-weight: 700;
        border:none;
        font-size: 24px;
        line-height: 30px;
        }

        p{
            max-width: 280px;
        font-family: 'Ovo';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        }

        .footer-link{
            margin: 10px 0;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
    
        }

        &--2{
            margin-top: 30px;
            justify-content: flex-start;
            align-items: start;
        }

        &--3{
            margin-top: 30px;
            align-items: start; 
            
            .social__icons{
                align-items: center;
                width: 250px;
                display: flex;
                justify-content: flex-start;
                .social_logo{
                    margin: 10px 20px 10px 0;
                }
            }
        }


    }




}

