
.shop_filter_container{
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 200px;
    height: 400px;
    padding: 20px 0px 0 50px ;

    h2{
        margin: 10px 15px;
        font-family: 'Ovo', serif;
        font-size: 28px;
    }

    .filter-link {

        h3{
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
            margin: 20px 15px 0px;
            border-bottom: 1px solid #F79750;
            padding: 5px 0 10px;
        }
        h3:hover,h3:active {

            color:#F79750;

        }


    }
}

