
.shop_filter_container{
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 200px;
    height: 400px;
    padding: 20px 0;

    h2{
        margin: 10px 15px;
        font-family: 'Ovo', serif;
        font-size: 28px;
    }

    .filter-link {

        h3{
            font-size: 14px;
            text-transform: capitalize;
            font-weight: 400;
            margin: 10px 15px;
        }
        h3:hover,h3:active {
            text-decoration: underline;
            text-decoration-color:#F79750;

        }


    }
}

